* {
    margin: 0;
    padding: 0;
    font-family:'Courier New', Courier, monospace;
    font-size: 100%;
}

body {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.left-side {
    background-image: url(/Users/Benedikt/repos/signup/background.jpg);
    background-size: cover;
    height: auto;
    width: 30%;
    text-align: center;
}

.right-side {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.header,
.form-container,
.footer {
    padding-left: 30px;
    flex-grow: 1;
}

.form-container,
.footer {
    padding-top: 20px;
}

.header {
    background-color: rgb(215, 215, 215);
    z-index: 2;
}

.form-container {
    background-color: white;
    box-shadow: 0 5px 5px rgb(76, 76, 76);;
    z-index: 3;
}

form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.footer {
    background-color: rgb(215, 215, 215);
    z-index: 1;
}

input {
    width: 300px;
    height: 30px;
    margin-bottom: 30px;
}

input {
    border: 1px solid #E5E7EB;
    border-radius: 7px;
    font-size: 1em;
}

input:focus {
    box-shadow: 0 5px 5px rgb(76, 76, 76);
}

.submit:hover {
    box-shadow: 0 5px 10px rgb(76, 76, 76);
}

.submit {
    box-shadow: 0 5px 5px rgb(76, 76, 76);
    border: 0;
    border-radius: 7px;
    background-color: #596D48;
    color: white;
    padding: 15px 32px;
}
